<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form  class="row register-form" [formGroup]="createUser"> 
                        <div>
                            <div class="form-group">
                              <label>Event name:</label><br>
                              <input type="text" formControlName="eventName" class="form-control">
                            </div>
                            <small class="text-danger"
                            *ngIf="(createUser.get('eventName')!.invalid && createUser.get('eventName')!.touched) || (createUser.get('eventName')!.untouched && submitted)"> 
                                <span *ngIf="f.eventName.errors?.pattern">Only char allowed</span>                              
                                <span *ngIf="f.eventName.errors?.maxlength">Only 100 char allowed</span>                              
                                <span *ngIf="f.eventName.errors?.required || f.eventName.errors?.blankspace">Please enter valid EventName!</span>   
                            </small>
                            <div class="form-group">
                              <label>Date:</label><br>
                              <input type="date" formControlName="date" class="form-control">
                            </div>
                            <div class="text-danger" *ngIf="message">
                                <p>{{message}}</p>
                              </div>
                            <div class="form-group">
                              <label>Time:</label><br>
                              <input type="time" formControlName="time" class="form-control">
                            </div>
                            <small class="text-danger"
                            *ngIf="(createUser.get('time')!.invalid && createUser.get('time')!.touched) || (createUser.get('time')!.untouched && submitted)">                           
                                <span *ngIf="f.eventName.errors?.required">Please enter valid time!</span>   
                            </small>
                            <div class="form-group">
                                <label>Address:</label><br>
                                <select *ngIf="address"  formControlName="address" class="form-control">
                                    <option>Select</option>
                                    <option>Amer,Jaipur,India</option>
                                    <option>Shakti Nagar,Delhi,India</option>
                                    <option>Rcp Colony,Suratgarh,India</option>
                                    <!-- <option *ngFor="let x of address">{{x}}</option> -->
                                </select>
                            </div>
                            <small class="text-danger"
                            *ngIf="(createUser.get('address')!.invalid && createUser.get('address')!.touched) || (createUser.get('address')!.untouched && submitted)">                           
                                <span *ngIf="f.eventName.errors?.required">Please enter valid Address!</span>   
                            </small>
                            <div class="form-group">
                              <label>City:</label><br>
                              <input type="text" formControlName="city" class="form-control">
                            </div>
                            <small class="text-danger"
                            *ngIf="(createUser.get('city')!.invalid && createUser.get('city')!.touched) || (createUser.get('city')!.untouched && submitted)">                           
                                <span *ngIf="f.eventName.errors?.required">Please enter valid city!</span>   
                            </small>
                            <div class="form-group">
                              <label>Country:</label><br>
                              <input type="text" formControlName="country" class="form-control">
                            </div>
                            <small class="text-danger"
                            *ngIf="(createUser.get('country')!.invalid && createUser.get('country')!.touched) || (createUser.get('country')!.untouched && submitted)">                           
                                <span *ngIf="f.eventName.errors?.required">Please enter valid country!</span>   
                            </small>
                        </div><br>
                    </form>
                    <button class="btn btn-primary mt-2 ms-1 mb-3" (click)="submit()"> Save</button>
                    <button class="btn btn-primary mt-2 ms-3 mb-3" (click)="cancel()"> Cancel</button>
                    <button class="btn btn-primary mt-2 ms-3 mb-3" (click)="home()">Go to list</button>
                </div>
            </div>
        </div>
    </div>
  </div>