<div>
    <ul>
        <li>
            Event Name
        </li>
        <li>
            Date 
        </li>
        <li>
            Time 
        </li>
        <li>
            Address  
        </li>
        <li>
            City 
        </li>
        <li>
            Country 
        </li>
        <li>
            Action
        </li>
    </ul>
    <ul *ngFor ="let x of userData; index as i">
        <li>
            {{x.eventName}}
        </li>
        <li>
            {{x.date}}
        </li>
        <li>
            {{x.time}}
        </li>
        <li>
            {{x.address}}
        </li>
        <li>
            {{x.city}}
        </li>
        <li>
            {{x.country}}
        </li>
        <button (click)="editData(userData,i)">Edit</button>
        <button (click)="deleteData(userData,i)">Delete</button>
    </ul>
</div>